{% extends 'base.html' %}

{% block title %} Редактирование проекта {{ project.pk }} {% endblock %}

{% block content %}

    <h3 class="pl-3 pb-2">Редактирование проекта</h3>

    <form action="{% url 'edit_project' project.pk %}" method="POST" class="ml-4">
        {% include 'partial/partial_add_edit.html' with button_text1='Принять изменения' %}
        <p>
            <a href="{% url 'show_project' project.pk %}" class="btn btn-primary mb-3">Назад</a>
        </p>
    </form>

{% endblock %}