{% extends 'base.html' %}

{% block title %} Проект №{{ project.pk }} {% endblock %}

{% block content %}

    {% if project %}

        {% include 'partial/project_presentation.html' %}

        {% include 'partial/partial_users.html' %}

        {% if project.tasks %}
            <h3 class="pl-3 pb-2 pt-3">Задачи</h3>
            <table class="table table-striped">
                {% include 'partial/partial_tasks.html' with tasks=project.tasks.without_deleted %}
            </table>
        {% endif %}

        {% if user.is_authenticated %}
            <a class="btn btn-primary mt-2 ml-3 mb-3" href="{% url 'edit_project' project.pk %}">Редактировать
                проект</a>
            <br>
            <a class="btn btn-primary mt-2 ml-3 mb-3" href="{% url 'add_project_task' project.pk %}">Добавить задачу к
                проекту</a>
            <br>
            <a class="btn btn-primary mt-2 ml-3 mb-3" href="{% url 'add_user_to_project' project.pk %}">Добавить
                пользователя в проект</a>
        {% endif %}
        {% else %}
        <p class="mt-5 ml-3 fw-bold">Проект не найден</p>
    {% endif %}

{% endblock %}

{% block bottom_href %}

{% endblock %}