{% extends 'base.html' %}

{% block title %} Список задач {% endblock %}

{% block content %}

    <h3 class="pl-3 pb-2">Список задач</h3>
    {% include 'partial/search.html' %}
    {% if page_obj %}
        <p class="ml-3">Стр.{{ page_obj.number }}</p>

    {% endif %}
    {% if tasks %}
        <table class="table table-striped">
            {% include 'partial/partial_tasks.html' %}
            <tr>
                <td>
                    {% if is_paginated %}
                        {% include 'partial/pagination.html' %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="col-2">
                </td>
            </tr>
        </table>
    {% else %}
        <h3 class="text-center pl-3 pb-3">Задачи не найдены</h3>
    {% endif %}

{% endblock %}