{% extends 'base.html' %}

{% block title %} Добавить запись {% endblock %}

{% block content %}
    <form action="{% url 'add_item' %}" method="POST" class="ml-4">
        {% csrf_token %}
        <div class="input-group mt-5 mb-3 w-75">
            <span class="input-group-text text-wrap" style="width: 100px;">Описание</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default" name="description">
        </div>
        <div class="input-group mt-5 mb-3 w-75">
            <span class="input-group-text text-wrap" style="width: 100px;">Подробное описание</span>
            <textarea class="form-control" aria-label="With textarea" name="description_details"></textarea>
        </div>
        <div class="input-group mt-5 mb-3 w-75">
            <span class="input-group-text" id="inputGroup-sizing-default2" style="width: 100px;">Статус</span>
            <select name="state">
                {% for state in status %}
                    <option value="{{ state.0 }}">{{ state.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group mt-5 mb-3 w-75">
            <span class="input-group-text" id="inputGroup-sizing-default3" style="width: 100px;">Дата</span>
            <input type="date" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default" name="date_to_do" placeholder="ГГГГ-ММ-ДД">
        </div>
        <input type="submit" value="Добавить" class="btn btn-primary mb-3">
    </form>
{% endblock %}