{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %} Домашнее задание №57 {% endblock %}</title>
</head>
<body>

<div class="container d-flex bg-dark fixed-top">
    <a class="navbar-brand text-danger ml-3 mt-2" href="{% url 'show_tasks' %}">NullPointerException.NET</a>
    <div>
        <ul class="d-flex list-unstyled">
            <li class="nav-item mt-2">
                <a class="nav-link text-warning" href="{% url 'show_projects' %}">Проекты</a>
            </li>
            <li class="nav-item mt-2">
                <a class="nav-link text-warning" href="{% url 'show_tasks' %}">Список задач</a>
            </li>
            {% block menu %}{% endblock %}
            {% if user.is_authenticated %}
                <li class="nav-item mt-2">
                    <div class="d-flex align-middle" style="margin-left: 360px;">
                        <div class="pt-3 pl-2">
                            <span class="text-light">Здравствуйте, {{ user.username }}</span>
                        </div>
                        <div>
                            <form action="{% url 'logout' %}" method="POST" class="ml-3">
                                {% csrf_token %}
                                <input type="submit" value="Выйти" class="btn btn-secondary mt-2">
                            </form>
                        </div>
                    </div>
                </li>
            {% else %}
                {% if 'auth' in request.get_full_path %}
                    <li class="nav-item mt-2 text-right" style="width: 430px;">
                        <a href="{% url 'login' %}"
                           class="btn btn-light mt-2 text-right">Войти</a>
                    </li>
                    <li class="nav-item mt-2 text-right">
                        <a href="{% url 'register' %}" class="btn btn-light mt-2 ml-2">Зарегистрироваться</a>
                    </li>
                {% else %}
                    <li class="nav-item mt-2 text-right" style="width: 430px;">
                        <a href="{% url 'login' %}?next={{ request.get_full_path }}"
                           class="btn btn-light mt-2 text-right">Войти</a>
                    </li>
                    <li class="nav-item mt-2 text-right">
                        <a href="{% url 'register' %}?next={{ request.get_full_path }}" class="btn btn-light mt-2 ml-2">Зарегистрироваться</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
</div>

<div class="container bg-light p-0" style="height: auto;">
    <div style="padding-top: 75px;">
        {% block content %}{% endblock %}
        {% block bottom_href %}{% endblock %}
    </div>
</div>

</body>
</html>