{% extends 'base.html' %}

{% block title %} Редактирование записи {% endblock %}

{% block content %}
    <form action="{% url 'edit_item' item.pk %}" method="POST" class="ml-4">
        {% csrf_token %}
        <div class="input-group mt-5 mb-3 w-75">
            <span class="input-group-text" style="width: 100px;"></span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default" name="description" value="{{ item.description }}">
        </div>
        <div class="input-group mt-5 mb-3 w-75">
            <span class="input-group-text" style="width: 100px;"></span>
            {% if not item.description_details %}
                <textarea class="form-control" aria-label="With textarea" name="description_details"
                          required></textarea>
            {% else %}
                <textarea class="form-control" aria-label="With textarea" name="description_details"
                          required>{{ item.description_details }}</textarea>
            {% endif %}

        </div>
        <div class="input-group mt-5 mb-3 w-75">
            <span class="input-group-text" id="inputGroup-sizing-default2" style="width: 100px;">Статус</span>

            <select name="state">
                <option selected value="{{ item.state }}">{{ item.get_state_display }}</option>
                {% for state in status %}
                    <option value="{{ state.0 }}">{{ state.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group mt-5 mb-3 w-75">
            <span class="input-group-text" id="inputGroup-sizing-default3" style="width: 100px;">Дата</span>
            {% if not item.date_to_do %}
                <input type="date" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-default" name="date_to_do" placeholder="ГГГГ-ММ-ДД">
            {% else %}
                <input type="date" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-default" name="date_to_do" placeholder="ГГГГ-ММ-ДД"
                       value="{{ date }}">
            {% endif %}
        </div>
        <input type="submit" value="Принять изменения" class="btn btn-primary mb-3">
    </form>
{% endblock %}